/* Footer */

.sitemap-footer{
	list-style-type: none;
	font-size: 12.6px;
	font-weight: 600;
	color: #818383;
	border-left: solid 1px #818383;
	padding-left: 20px;
}

#footer_layer{
	padding-top: 50px;
}

#lifeplus_logo_bottom{
	display: flex;
    flex-direction: column;
    justify-content: center;  /*Centering y-axis*/
    align-items :center ;
    padding: 50px;
}

#img_lifeplus_btm{
	width: 200px;
}

.social-menu{
  width: 20%;
}

#footer_company{
	padding: 10px;
}

@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 768px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) { 

	#footer_layer{
		padding-top: 20px;
	}

	.sitemap-footer{
		border-left: none;
		border-bottom: solid 1px #818383;
	}

	#img_lifeplus_btm{

	}

	#lifeplus_logo_bottom{
		padding: 40px;
	}

	#social-row{
		padding: 20px;
	}

	#footer_company{
		border-top: solid 1px #818383;
		padding: 10px;
	}

}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

  	#area-footer{
	    padding: 0px;
		max-width: 770px;
	    margin-left: 25px;
	}

  	#lifeplus_logo_bottom{
  		padding: 50px;
  	}

 }
