@media (min-width:600px)  { 
	/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 

	.container {
	    max-width: 600px;
	}

	.carousel_image {
	    min-width: 600px;
	}

	#container_explainer{
        min-width: 600px;
    }

    #redeem_point {
		font-size: 33px;
	}

	#sub_redeem_point {
    	font-size: 13px;
	}

	#coin_bg {
    	background-size: 130%;
	}

}

@media (min-width:640px)  { 
	/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
	.container {
	    max-width: 640px;
	}

	.carousel_image {
	    min-width: 640px;
	}

	#container_explainer{
        min-width: 640px;
    }

    /* EXPLAINER */
    #btn-find-outmore {
	    margin-left: 25%;
	}

	#redeem_point {
		font-size: 35px;
	}

	#sub_redeem_point {
    	font-size: 15px;
	}

	#coin_bg {
    	background-size: 100%;
	}

}

@media (min-width:768px)  { 
	/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 

	.navbar-expand-md .navbar-collapse{
		max-width: 430px;
	}

	.container {
	    max-width: 753px;
	}

	.carousel_image {
	    min-width: 753px;
	}

	#container_explainer{
        min-width: 753px;
		min-height: 670px;
    }

    /* EXPLAINER */

    #frame_explainer{
    	min-width: 650px;
    	max-height: 550px;
		margin: 75px 5px 0px 5px 
    }

    .explainer-text-top-right{
    	font-size: 24px;
		top: 3%;
    }

    .explainer-text-reward{
		font-size: 20px;
    }

    .explainer-text-complete{
		font-size: 20px;
    }

    .explainer-text-health-plus{
		top: 172px;
    }

    .explainer-health-header{
		font-size: 21.6px;
    }

    .explainer-health-detail{
		font-size: 10.8px;
    }

    .explainer-gift-box{
    	top: 23%;
    	right: 32%;
    	width: 18%;
    }

    .explainer-text-gift{
		top: 43%;
    	right: 25%;
    }

    .explainer-gift-header{
		font-size: 21.6px;
    }

    .explainer-gift-detail{
		font-size: 10.8px;
    }

    .explainer-text-engaging{
    	top: 55%;
    	left: 34%;
    }

    .explainer-engaging-header{
    	font-size: 21.6px;
    }

    .explainer-engaging-detail{
		font-size: 10.8px;
    }

    .explainer-coin-1{
		top: 53%;
    }

    .explainer-coin-2{
		top: 39%;
    }

    .explainer-text-connecting{
    	top: 72%;
    	left: 3%;
    }

    .explainer-connection-header{
		font-size: 21.6px;
    }

    .explainer-connection-detail{
		font-size: 10.8px;
    }

    .explainer-text-bottom-left{
    	top: 69%;
	    left: 1%;
	    font-size: 15px;
    }

    .explainer-text-bottom-right{
		font-size: 44px;
    }

    .explainer-text-point-conversion{
    	top: 72%;
    	right: 15%;
    }

    .img-point-conversion{
		width: 100%;
    }



    /* EXPLAINER */
    /* HEALTH BLOG */

    .health-blog-icon{
		width: 10%;
    }

    #btn-find-outmore{
		margin-left: 27%;
    }

    /* HEALTH BLOG */

    /* ECOMMERCE */

    #coin_bg{
    	background-size: 100%;
    }

    #redeem_point{
		font-size: 43px;
    }

    #sub_redeem_point{
    	font-size: 16px;
    }

    /* ECOMMERCE */

}