@media (min-width:320px)  { 
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
    .container-fluid{
        padding-right: 0px;
        padding-left: 0px;
    }
    #container_menu{
        padding: 0px 10px 0px 10px;
    }

    #nav_menu{
        padding: 30px 0px 0px 0px;
    }

    #logo_company{
        width: 130px;
    }

    #form_search{
        top: 5px;
    }
    
    #search_btn{
        right: 2%;
    }

    .mobile-menu-li{
        padding: 5px 20px 5px 20px;
    }

    /* CAROUSEL IMAGE */

    .container-carousel-1{
        right: 5%;
    }

    .carousel_image{
        width: 100%;
        height: 100%;
        min-width: 305px;
        min-height: 480px;
    }

    #curve_header{
        height: 250px;
        margin-top: -250px;
    }


    .img-acheivement{
        width: 40%;    
    }

    .carousel_text_1{
        font-size: 22px;
        margin-top: 5px;
    }

    .carousel_text_2{
        font-size: 16px;
    }

    .carousel_text_3{
        font-size: 15px;
        width: 250px;
    }

    .join-button{
        width: 200px;
        height: 60px;
        font-size: 24px;
    }

    .custom-container-explainer{
        width: 100%;
    }

    #container_explainer{
        max-width: 320px;
        max-height: 270px;
        background-size: 100%!important;
        background-repeat: no-repeat;
        background-color: #006062;
    }

    #frame_explainer{
        max-width: 290px;
        margin: 35px 5px 0px -12px;
        background-size: 145%;
        max-height: 200px;
    }

    .explainer-logo-lp{
        width: 25%;
    }

    .explainer-arrow{
        margin-top: 0px;
        margin-left: -15px;
        width: 130%;
    }

    .explainer-text-top-right{
        font-size: 10px;
        top: 1%;
        right: 3%;
    }

    .explainer-people {
        top: 12%;
        right: 15%;
        width: 15%;
    }

    .explainer-text-complete {
        top: 25%;
        left: 4%;
        font-size: 8px;
    }

    .explainer-text-health-plus{
        top: 27%;
        right: 2%;
    }

    .explainer-health-header{
        margin-left: 40px;
        font-size: 8px;
    }

    .explainer-health-detail{
        font-size: 6px;
    }

    .explainer-gift-box {
        top: 26%;
        right: 32%;
        width: 18%;
    }

    .explainer-text-gift {
        top: 48%;
        right: 17%;
    }

    .explainer-gift-header{
        font-size: 8px;
    }

    .explainer-gift-detail{
        font-size: 6px;
    }

    .explainer-coin-2 {
        top: 50%;
        left: 32%;
        width: 13%;
    }

    .explainer-coin-1 {
        top: 65%;
        left: 13%;
        width: 13%;
    }

    .explainer-text-reward {
        top: 10%;
        right: -5%;
        font-size: 10px;
        left: 0px;
    }

    .explainer-text-bottom-left {
        top: 85%;
        left: 1%;
        font-size: 8px;
    }

    .explainer-text-connecting {
        top: 75%;
        left: -5%;
    }

    .explainer-connection-header{
        font-size: 8px;
    }

    .explainer-connection-detail{
        font-size: 5px;
    }

    .explainer-text-engaging {
        top: 58%;
        left: 32%;
    }

    .explainer-engaging-header{
        font-size: 10px;
    }

    .explainer-engaging-detail{
        font-size: 6px;
    }

    .explainer-text-bottom-right {
        top: 80%;
        right: 4%;
        font-size: 18px;
    }

    .explainer-text-point-conversion {
        top: 72%;
        right: -20%;
    }

    .img-point-conversion{
        width: 50%;
    }

    /* BLOG POST */

    .title-section{
        font-size: 25px;
    }

    .health-blog-icon {
    
        width: 20%;
    
    }
    
    .btn-find-outmore {
        width: 225px;
        font-size: 24px;
    }
    /* BLOG POST */

    /* ECOMMERCE */

    #coin_bg{
        background-size: 240%;
    }

    #redeem_point{
        font-size: 25px;
    }

    #sub_redeem_point{
        font-size: 11px;
    }

    .slick-initialized .slick-slide{
        width: 200px!important;
    }

    .slick-list{
        max-height: 360px;
    }

    /* ECOMMERCE */

}

@media (min-width:360px)  { 

    .carousel_image{
        min-width: 345px;
    }

    #container_explainer{
        min-width: 345px;
    }

    #frame_explainer{
        margin: 35px 5px 0px 0px;
    }

    #btn-find-outmore{
        margin-left: 13%;
    }

}

@media (min-width:375px)  { 

    .carousel_image{
        min-width: 360px;
    }

    #container_explainer{
        min-width: 360px;
    }

    #frame_explainer{
        margin: 35px 5px 0px 5px;
    }

    #btn-find-outmore{
        margin-left: 15%;
    }

}
