html{
  /*width:1440px;*/
  /*margin:0px auto;*/
  overflow-x: hidden;
}

.container{
  margin: 0px auto!important;
}

#logo_company{
  width: 170px;
  min-width: 100px;
  max-height: 100px;
}

#logo_company .scs-component-container{
  width: 170px;
}

#fast-menu{
  background-color: #006062;
  max-width: 1280px;
  margin: 0px auto;
}

#fast-menu .scs-button-text, 
#fast-menu a {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

#fast-menu a {
  text-decoration: none;
}

/* start style hover menu bar */
#fast-menu .sl-horizontal-item {
  cursor: pointer;
  transition: 0.5s;
}

#fast-menu .sl-horizontal-item:hover {
  background-color: #c2d62f;
  transition: 0.5s
}

#fast-menu .scs-component-container .scs-component-bounding-box div {
  padding: 5px;
  text-align: center !important;
}
/* end style hover menu bar */

.icon-small
{
  height:18px;
  margin:0;
  padding:0;
}

.icon-medium
{
  height:22px;
  margin:0;
  padding:0;
}

.dropdown-toggle::after{
  display: none;
}

.lang-text{
  float: left;
}
.lang-pict{
  float: right;
  margin: 4px;
}

#form_search{
  min-width: 200px;
  position: absolute;
  right: 0px;
  top: 15px;
}

#search_btn{
  font-size: 20px;
  position: absolute;
  right: 5px;
  top: 0px;
}

.mobile-menu-li{
  padding: 20px;
  border-bottom: solid 1px #c2c2c2;
}

#menuLanguage{
  position: absolute;
  right: 80px;
  top: 45px;
  z-index: 10;
}

#btn_login:hover{
  cursor: pointer;
}

#list_country{
  z-index: 10;
  border-radius: 4px;
  background-color: #E6E6E6;
  position: absolute;
  top: 85px;
  right: 0px;
  box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.6);
  display: none;
}

#menu_mobile{
  z-index: 10;
  border-radius: 4px;
  background-color: #ffffff;
  position: absolute;
  top: 85px;
  right: 0px;
  box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.6);
  display: none;
  width: 250px;
}

.img-flag{
  width: 10px;
}

.text-flag{
  margin-left: 5px;
}

#form_login{
  z-index: 10;
  border-radius: 4px;
  background-color: #ffffff;
  position: absolute;
  top: 85px;
  right: 0px;
  box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.6);
  display: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  color: #c1c1c1;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  color: #c1c1c1;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  color: #c1c1c1;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  color: #c1c1c1;
}

.dropdown-item{
  padding: 0px 10px 0px 10px;
}

/* carousel */

.area_carousel_text{
  padding: 20px;
  margin-top: 140px;
  margin-right: 50px;
}

.background-text-carousel{
  opacity: 0.6;
  background-color: rgba(0, 0, 0, 0.8);
  width: 510px;
  height: 292px;
  position: absolute;
  right: 55px;
  top: 165px;
  z-index: -1;
}

/* carousel */

#curve_header{
  background-size: cover;
  background-repeat: no-repeat;
  width: 70%;
  height: 440px;
  position: absolute;
  margin-top: -440px;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  
  html {
    width:1280px;
  }
  
}

.navbar-light .navbar-nav .nav-link{
  font-size: 14px;
  font-weight: bold;
  color: #006062;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link{
  transition: margin-top 300ms ease-in-out;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
  margin-top: -5px;
}

.coins_rain {
  width: 1112px;
  height: 294px;
  object-fit: contain;
}

.footer-base {
  width: 1440px;
  background-color: #003a48;
}

.media-social-font{
  color: #ababab;
  font-size: 30px!important;
}

.footer-pad{
  font-size: 12.6px;
  font-weight: 600;
  color: #818383;
}

/* Carousel Start */
#carousel{

}

.carousel_image{
  width: 100%;
  height:768px;
  max-width: 1440px;
  max-height: 768px;
  min-width: 1280px;
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel_text_1{
  font-size: 66px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.carousel_text_2{
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.carousel_text_3{
  margin: 0px auto;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  width: 375px;
  /*margin-top: 30px;*/
  /*margin-bottom: 70px;*/
}

.container-carousel-1{
  position: absolute;
  right: 15%;
  top: 0px;
  /*bottom: 20px;*/
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  /*padding-bottom: 20px;*/
  color: #fff;
  text-align: right;
}

.join-button{
  width: 300px;
  height: 76px;
  object-fit: contain;
  border-radius: 4px;
  background-color: #c2d62f;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  font-size: 32px;
  font-weight: bold;
  letter-spacing: -0.3px;
  text-align: center;
  color: #ffffff;
}

a.btn.join-button {
  padding-top: 10px;
  margin-right: 100px;
  margin-top: 50px;
}

/* Carousel End */

/* Subscribe Component */

#subscribeArea{
  background-color: #006062;
  min-height: 100px;
  margin: 0px auto;
  max-width: 1280px
}


.custom-container-subscribe{
  padding-left: 0px;
  padding-right: 0px;
}

#subscribe-text{
  position: absolute;
}

#subscribe-component{
  position: absolute;
  right: 80px;
}

.custom-container-subscribe .scs-slot-empty{
  width: 30%;
  float: left;
  min-height: 20px!important;
  max-height: 85px;
}

.custom-container-subscribe p {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  width: 400px;
  margin-left: 200px;
  margin-top: 15px;
}

.subscribe-area #subscribe-component{

}

/* Subscribe Component */

/* Categories Post Area */

#categoriesPostArea{
  background-color: #f4f1f1;
  min-height: 100px;
  margin: 0px 39px 0px 30px;
  background-repeat: no-repeat;
  background-size: 101%;
  border: 0px;
  min-height: 1000px;
  background-position-y: -1px;
  background-position-x: -1px;
  margin: 0px auto;
  max-width: 1280px
}

.custom-container-categories{
  padding-left: 0px;
  padding-right: 0px;
}

#title-categories-post{
  top: 50px;
}

#title-categories-post .scs-title-text{
  font-family: Raleway;
  font-size: 28px;
  font-weight: 1000;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #f6f6f6;
  margin-top: 50px;
}

#categories-post{
  margin-top: 50px;
}

#categories-post .scs-image-caption {
  position: absolute;
  bottom: 30px;
  left: 18px;
  right: 17px;
  background-color: #ffff;
  padding: 8px;
  max-width: 270px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #006062;
}

#title-the-latest-news-and-events .scs-title-text{
  font-family: Raleway;
  font-size: 30px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #006062;
}

#post-latest-news-and-events .sl-two-columns .blog-default .image{
  max-height: 370px;
}

/* start add style for animation categories post 2 */
#title-the-latest-news-and-events {
  opacity: 0;
}

#post-latest-news-and-events .scs-component-content .scs-component-container:not(.scs-sectionlayout):not(.scs-componentgroup) {
  opacity: 0;
}
/* end add style for animation categories post 2 */

/* start add style for animation categories post */
#title-categories-post {
  opacity: 0;
}

#categories-post .sl-three-columns .scs-component-content .scs-component-container:not(.scs-sectionlayout) {
	opacity: 0;
}

#categories-post .sl-three-columns .sl-three-columns-left .scs-component-content .scs-component-container:not(.scs-sectionlayout) {
	margin-left: -500px;
}

#categories-post .sl-three-columns .sl-three-columns-right .scs-component-content .scs-component-container:not(.scs-sectionlayout) {
	margin-right: -500px;
}
/* end add style for animation categories post */

/* Categories Post Area */

#lifeplus-button-join{
  background-size: 100%!important;
  min-height: 125px;
  max-width: 1280px;
  margin: 0px auto;
}

#lifeplus-button-join .scs-component-content{
  right: 280px;
  top: 45px;
  position: absolute;
}

#ecoach-section{
  background-color: #f4f1f1;
  max-width: 1280px;
  margin: 0px auto;
}

#ecoach-section .scs-image{
  margin: 0px!important;
}

#ecoach-section .sl-two-columns-right {
    padding-top: 50px;
    padding-left: 30px;
}

/* start add style for animation ecoach section */
#ecoach-section .sl-two-columns-right .scs-component-container.scs-componentgroup .scs-component-container:not(.scs-sectionlayout) {
  margin-left: -500px;
}

#ecoach-section .sl-two-columns-right .scs-component-container.scs-componentgroup .scs-component-container:not(.scs-sectionlayout) .coach-name,
#ecoach-section .sl-two-columns-right .scs-component-container.scs-componentgroup .scs-component-container:not(.scs-sectionlayout) .coach-bio {
  opacity: 0;
}
/* end add style for animation ecoach section */

#watching-banner{
  background-color: #006062;
  max-width: 1280px;
  margin: 0px auto;
  padding: 25px;
}

#watching-banner .scs-title-text{
  font-family: Raleway;
  font-size: 30px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

#video-area{
  background-color: #f4f1f1;
  max-width: 1280px;
  margin: 0px auto;
}

#video-title{
  padding: 40px 30px 0px 30px;
}

#video-title .scs-title-text{
  font-family: Raleway;
  font-size: 30px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #006062;
}

#list-video{
  padding: 40px;
}

/* EXPLAINER START */

.explainer-content{
  position: absolute;
}

.custom-container-explainer{
  padding-right: 0px;
  padding-left: 0px;
  width: 100%;
  min-width: 1280px;
}

.custom-container-carousel{
  width: 100%;
  min-width: 1280px;
}

#container_explainer{
  width: 100%;
  height: 769px;
  object-fit: contain;
  margin-left: 0px;
  margin-right: 0px;
}

#frame_explainer{
  width: 902px;
  height: 567px;
  object-fit: contain;
  background-repeat: no-repeat;
  margin-top: 70px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border-radius: 4px;
}

.explainer-logo-lp{
  top:20px;
  left:20px;
}

.explainer-arrow{
  margin-top: -30px; 
  margin-left: -15px;
}

.explainer-text-top-right{
  top: 20px;
  right: 33px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.3px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.explainer-text-bottom-left{
  bottom: 20px;
  left: 33px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.3px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.explainer-text-bottom-right{
  bottom: 20px;
  right: 65px;
  font-size: 44px;
  font-weight: 600;
  letter-spacing: -0.3px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.explainer-coin-1{
  bottom: 120px;
  left: 150px;
  width: 90px;
}

.explainer-coin-2{
  bottom: 200px;
  left: 300px;
  width: 90px;
}

.explainer-gift-box{
  top: 150px;
  right: 270px;
  width: 140px;
}

.explainer-people{
  top: 70px;
  right: 120px;
  width: 100px;

}

.explainer-text-complete{
  bottom: 250px;
  left: 50px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.2px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.explainer-text-reward{
  top: 70px;
  left: 400px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.3px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.explainer-text-connecting{
  bottom: 20px;
  left: 130px;
  margin-left: 50px;
}

.explainer-connection-header{
  margin-left: 40px;
  font-size: 21.6px;
  font-weight: 600;
  letter-spacing: -0.3px;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.explainer-connection-detail{
  font-size: 10.8px;
  font-weight: bold;
  text-align: left;
  color: #c2d62f;
}

.explainer-text-engaging{
  bottom: 130px;
  left: 350px;
}

.explainer-engaging-header{
  margin-left: 40px;
  font-size: 21.6px;
  font-weight: 600;
  letter-spacing: -0.3px;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.explainer-engaging-detail{
  font-size: 10.8px;
  font-weight: bold;
  text-align: left;
  color: #c2d62f;
}

.explainer-text-gift{
  bottom: 200px;
  right: 190px;
}

.explainer-gift-header{
  margin-left: 40px;
  font-size: 21.6px;
  font-weight: 600;
  letter-spacing: -0.3px;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.explainer-gift-detail{
  font-size: 10.8px;
  font-weight: bold;
  text-align: left;
  color: #c2d62f;
}

.explainer-text-health-plus{
  top: 172px;
  right: 32px;
}

.explainer-health-header{
  margin-left: 40px;
  font-size: 21.6px;
  font-weight: 600;
  letter-spacing: -0.3px;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.explainer-health-detail{
  font-size: 10.8px;
  font-weight: bold;
  text-align: left;
  color: #c2d62f;
}

.explainer-text-point-conversion{
  bottom: 140px;
  right: 140px;
}


/* EXPLAINER END*/

/* HEALTH BLOG START */

#healthBlog{
  margin-top: -5px;
}

#headlineHealthBlog{
  padding-right: 0px;
}

.custom-container-healthblog{
  /*margin-left: 0px;*/
  /*margin-right: 0px;*/
  padding-left: 0px;
  padding-right: 0px;
}

.health-blog-section{
  width: 100%;
  /*height: 1334px;*/
  object-fit: contain;
  background-size: 1440px;
  background-repeat: no-repeat;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 50px;
  background-color: #003a48;
}

.title-section{
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  background-color: #00495a;
  width: 100%;
  margin-bottom: 0px;
}

.btn-more-headline{
  position:relative;
  margin-top:-100px;
  float: right;
  right:200px;
  width: 166px;
  height: 48px;
  border-radius: 4px;
  background-color: #c2d62f;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  padding-top: 12px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border-radius: 4px;
}

.btn-find-outmore {
    width: 277.1px;
    height: 68.1px;
    border-radius: 4px;
    background-color: #c2d62f;
    font-size: 25.9px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    padding-top: 12px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-radius: 4px;
}

/* HEALTH BLOG END */

/* FORUM COLUMN START */

.forum-section{
  width: 100%;
  object-fit: contain;
  background-size: 1440px;
  background-repeat: no-repeat;
  background-color: #006062;
  margin-left: -1px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.area-forum{
  max-width: 960px;
  margin: 0px 0px 50px 0px;
}

.forum-column{
  object-fit: contain;
  border-radius: 4px;/*
  background-color: #006062;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);*/
  border-radius: 4px;
}

.forum-header{
  margin: 24px 15px 0px 0px;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  float: left;
}

.health-icon{
  margin: 24px 0px 0px 0px;
  width: 24px;
  height: 21px;
  object-fit: contain;
  float: left;
}

.forum-icon{
  margin: 24px 0px 0px 0px;
  width: 24px;
  height: 21px;
  object-fit: contain;
  float: left;
}

.forum-title{
  font-weight: 700;
  color: #ffffff;
  right: 0px;
  left: 0px;
  width: 100%;
  margin: 0px 0px 0px 0px;
  background-color: #00495a;
}

.forum-hr{
  border-top: solid 1px #003a48;
}

.forum-title-latest{
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  float: left;
}

.forum-unread-thread{
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: #ffffff;
}

.thread-component{
  padding: 0px 0px 5px 0px;
}

.thread-box{
  border-radius: 4px;
  background-color: #006062;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.4);
  border: solid 1px #629ea0;
  margin: 0px 10px 10px 15px;
  padding: 7px 7px 7px 7px;
  max-height: 110px;
}

.thread-profile-picture-ts{
  margin: 15px 0px 5px 10px;
  border: solid 2px #efefef;
}

.thread-starter{
  font-size: 9px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.thread-title{
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  padding-bottom: 10px;
  border-bottom: solid 1px #c2c2c2;
}

.thread-body{
  opacity: 0.55;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  padding-top: 0px;
  max-height: 20px;
}

.thread-category{
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #ffdd00;
  float: left;
}

.thread-time{
  font-size: 14px;
  font-weight: 500;
  text-align: right;
  color: #ffffff;
}

/* FORUM COLUMN END */

#layer_redeem_point{
  padding-top: 80px;
}

#coin_bg{
  width: 100%;
  height: 304px;
  object-fit: contain;
  background-color: #c2d62f;
  background-repeat: no-repeat;
  background-position: center;
}

#redeem_point{
  font-size: 48.8px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

#sub_redeem_point{
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

/* ESHOP START */

.custom-container-ecommerce{

}

#eshop_background{
  width: 100%;
  height: 588px;
}

.bg-e-shop{
  background-color: #f2f2f2;
  padding: 30px;
  height: 479px;
}

.shop-detail{
  border-radius: 6.4px;
  background-color: #ffffff;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.1);
  border: solid 0.8px #cccccc;
  padding-top: 15px;
  min-height: 300px;
}

.shop-item{
  margin-left: 15px;
  margin-right: 15px;
}

.slick-prev:before {
  content: "\02039";
  font-size: 60px;
  font-weight: 600;
  color: #000;
}

.slick-next:before {
  content: "\0203A";
  font-size: 60px;
  font-weight: 600;
  color: #000;
}

.center-item .slick-current > .shop-detail{
  height: 350px;
}
/* ESHOP END */

/* Footer */

/* Footer */