.scs-facebook-icon {
	background-image: url("facebook.png");}

.scs-twitter-icon {
  background-image: url("twitter.png"); }

.scs-linkedin-icon {
  background-image: url("linkedin.png"); }

.scs-googleplus-icon {
  background-image: url("googleplus.png"); }

.scs-youtube-icon {
  background-image: url("youtube.png"); }
