.image-coach{
	float: left;
}

.desc-coach{
	float: left;
    margin-top: 20px;
    max-width: 220px;
}

.coach-name{
	font-family: Montserrat;
  	font-size: 16px;
  	font-weight: bold;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: normal;
  	letter-spacing: normal;
  	text-align: left;
  	color: #716c67;
  	border-bottom: 1px solid #716c67
}

.coach-bio{
	font-family: Raleway;
  	font-size: 12px;
  	font-weight: 600;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: normal;
  	letter-spacing: normal;
  	text-align: left;
  	color: #4a4a4a;
}
