/* HEADLINE */

#headline-health-blog-area{
  height: 400px;
}

.image-headline-health-blog{
  width:100%;
  height:100%;
  max-width:960px;
  max-height:400px;
  margin-bottom: 15px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border-radius: 4px;
  background-size: cover;
  background-repeat: no-repeat;
}

.title-headline-health-blog{
	position: absolute;
	top: 80px;
	right: 20px;
}

.title-headline-health-blog > h1 {
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
}

.hr-headline-health-blog{
	position: absolute;
	top: 130px;
	right: 20px;
	width: 441.1px;
  	border: solid 2px #747474;
}

.summary-headline-health-blog{
	position: absolute;
	top:170px;
	right: 20px;
	width: 450px;
}

.summary-headline-health-blog > h3{
	font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #555555;
  font-size: 14px;
}

@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 768px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) { 
  .title-headline-health-blog{
    top: 10px!important;
  }

  .title-headline-health-blog > h1 {
    font-size: 25px;
  }

  .hr-headline-health-blog{
    top: 40px;
    width: 250px;
  }
  .summary-headline-health-blog{
    top: 70px;
    width: 180px;
  }
  .image-headline-health-blog{
    width: 356px!important;
    height: 141px!important;
  }
  .summary-headline-health-blog > h3{
    font-size: 10px;
  }

  #headline-health-blog-area{
    height: 150px;
  }

}


/* POST */

.title-blog-list{
	position: absolute;
  	width: 100%;
  	top: 0px;
  	height: auto;
	font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    opacity: 0.5;
    padding-left: 20px;
  	background-color: #323232;
}

.action-blog{
  	position: relative;
  	margin-top: -50px;
  	width: 100%;
  	height: 50px;
  	object-fit: contain;
  	opacity: 0.5;
  	background-color: #000000;
  	display: none;
}

.social-button{
  	margin: 12px;
  	width: 30px;
 	height: 30px;
    border: 0px;
}

.read-more{
  	right: 10px;
  	top: 16px; 
  	position: absolute; 
  	font-size: 12px;
  	font-weight: 400;
  	text-align: right;
  	color: #ffffff;
}

.twitter-icon{
	background: url('images/twitter-icon@2x.png');
	background-repeat: no-repeat;
	background-position: top left;
	background-size: 30px;
}

.facebook-icon{
	background: url('images/fb-like-icon@2x.png');
	background-repeat: no-repeat;
	background-position: top left;
	background-size: 25px;
}

.share-icon{
	background: url('images/share-icon@2x.png');
	background-repeat: no-repeat;
	background-position: top left;
	background-size: 20px;
}

.img-blog-list{
	width: 100%;
	/*height: 100%;*/
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	border-radius: 4px;
}
