<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
	<head>
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>LifePlus</title>
		<link rel="shortcut icon" href="favicon.ico">
		<!-- Bootstrap core CSS -->
		<link href="_scs_theme_root_/assets/css/bootstrap.min.css" rel="stylesheet">
		<link href="_scs_theme_root_/assets/slick-1.8.0/slick/slick.css" rel="stylesheet">
		<link href="_scs_theme_root_/assets/slick-1.8.0/slick/slick-theme.css" rel="stylesheet">
		<link href="_scs_theme_root_/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="_scs_theme_root_/assets/css/homepage.css" rel="stylesheet">
		<link href="_scs_theme_root_/assets/css/blog.css" rel="stylesheet">
		<link href="_scs_theme_root_/assets/css/homepage.screen.320.css" rel="stylesheet">
		<link href="_scs_theme_root_/assets/css/homepage.screen.480.css" rel="stylesheet">
		<link href="_scs_theme_root_/assets/css/homepage.screen.600.css" rel="stylesheet">
		<link href="_scs_theme_root_/assets/css/homepage.screen.801.css" rel="stylesheet">
		<link href="_scs_theme_root_/assets/css/homepage.screen.1025.css" rel="stylesheet">
		<link href="_scs_theme_root_/assets/css/homepage.screen.1281.css" rel="stylesheet">  

		<!--$SCS_RENDER_INFO-->
		<!--$SCS_SITE_HEADER-->
		<!--$SCS_PAGE_HEADER-->
	</head>

	<body>
		<includeHTML urlPrefix="_scs_theme_root_" includeFile="/assets/html/header.html"></includeHTML>
		
    	<div class="scs-slot" id="fast-menu" ></div>

		<div class="container" >
			<div class="row" >
				<div class="col-lg-12" id="content-post" >
					<div class="row scs-responsive" >
						<div class="col-lg-12" >
							<!-- Section for Hot News, and 2 News With Style News 1 and Style News 2 -->
							<div class="row" >
								<div class="col-lg-12 scs-slot" id="detail_post" >
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Add the footer into this layout page -->
    	<includeHTML urlPrefix="_scs_theme_root_" includeFile="/assets/html/footer.html"></includeHTML>

		<!-- Bootstrap core JavaScript 
			 ================================================== -->
	    <!-- Placed at the end of the document so the pages load faster -->
	    <script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
	    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
	    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
	    <script src="_scs_theme_root_/assets/js/bootstrap.min.js"></script>
	    <script src="_scs_theme_root_/assets/js/bootstrap.bundle.min.js"></script>
	    <script src="_scs_theme_root_/assets/slick-1.8.0/slick/slick.min.js"></script>
	    <script type="text/javascript" src="_scs_theme_root_/assets/js/includeHTML.js"></script>

	    <script data-main="/_sitescloud/renderer/renderer.js" src="/_sitescloud/renderer/require.js"></script>
	    <script type="text/javascript" src="_scs_theme_root_/assets/js/home.js" ></script>

	    <!--$SCS_PAGE_FOOTER-->
	    <!--$SCS_SITE_FOOTER-->
    </body>
</html>