<html lang="en"><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>LifePlus</title>
  <link rel="shortcut icon" href="favicon.ico">
  <!-- Bootstrap core CSS -->
  <link href="_scs_theme_root_/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="_scs_theme_root_/assets/slick-1.8.0/slick/slick.css" rel="stylesheet">
  <link href="_scs_theme_root_/assets/slick-1.8.0/slick/slick-theme.css" rel="stylesheet">
  <link href="_scs_theme_root_/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="_scs_theme_root_/assets/css/homepage.css" rel="stylesheet">
  <link href="_scs_theme_root_/assets/css/homepage.screen.320.css" rel="stylesheet">
  <link href="_scs_theme_root_/assets/css/homepage.screen.480.css" rel="stylesheet">
  <link href="_scs_theme_root_/assets/css/homepage.screen.600.css" rel="stylesheet">
  <link href="_scs_theme_root_/assets/css/homepage.screen.801.css" rel="stylesheet">
  <link href="_scs_theme_root_/assets/css/homepage.screen.1025.css" rel="stylesheet">
  <link href="_scs_theme_root_/assets/css/homepage.screen.1281.css" rel="stylesheet">  
  
  <!--$SCS_RENDER_INFO-->
  <!--$SCS_SITE_HEADER-->
  <!--$SCS_PAGE_HEADER-->

</head>

<body>
  <div id="container_lifeplus" class="container-fluid">

    <includeHTML urlPrefix="_scs_theme_root_" includeFile="/assets/html/header.html"></includeHTML>

    <div class="scs-slot" id="fast-menu" ></div>

    <!-- Carousel -->
    <div class="carousel scs-slot" id="carousel" >
      <div class="container custom-container-carousel" >
        <div class="row">
          <div id="demo" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <!-- <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
            </ul> -->

            <!-- The slideshow -->
            <div class="carousel-inner">
              <div class="carousel-item carousel_image active" style="background-image: url('_scs_theme_root_/assets/images/hero/1.jpg');"  >
                <div class="container-carousel-1">
                  <div class="area_carousel_text float-right" >
                    <!-- <img class="float-right img-acheivement" src="_scs_theme_root_/assets/images/acheivement-base.png"> -->
                    <div class="carousel_text_1" >JOIN LIFE PLUS</div>
                    <div class="carousel_text_2" >START ENJOY THE BENEFIT</div>
                    <div class="text-center" >
                      <img src="_scs_theme_root_/assets/images/coin@2x.png" style="width:50px;" >
                      <img src="_scs_theme_root_/assets/images/coin@2x.png" style="width:50px;" >
                      <img src="_scs_theme_root_/assets/images/coin@2x.png" style="width:50px;" >
                    </div>
                    <div class="carousel_text_3" >EARN POINTS AND REWARDS JUST BY LIVING HEALTHIER !</div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="float-right"><a href="" class="btn join-button">JOIN NOW</a></div>
                </div>
              </div>
              <!-- <div class="carousel-item carousel_image" style="background-image: url('_scs_theme_root_/assets/images/hero/2.jpg');"  >
                <div class="container-carousel-1">
                  <div class="area_carousel_text float-right" >
                    <div class="carousel_text_1" >JOIN LIFE PLUS</div>
                    <div class="carousel_text_2" >START ENJOY THE BENEFIT</div>
                    <div class="carousel_text_3" >EARN POINTS AND REWARDS JUST BY LIVING HEALTHIER !</div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="float-right"><a href="" class="btn join-button">JOIN NOW</a></div>
                </div>
              </div>
              <div class="carousel-item carousel_image" style="background-image: url('_scs_theme_root_/assets/images/hero/3.jpg');"  >
                <div class="container-carousel-1">
                  <div class="area_carousel_text float-right" >
                    <div class="carousel_text_1" >JOIN LIFE PLUS</div>
                    <div class="carousel_text_2" >START ENJOY THE BENEFIT</div>
                    <div class="carousel_text_3" >EARN POINTS AND REWARDS JUST BY LIVING HEALTHIER !</div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="float-right"><a href="" class="btn join-button">JOIN NOW</a></div>
                </div>
              </div> -->
              <!-- <div class="carousel-item carousel_image" style="background-image: url('_scs_theme_root_/assets/images/christopher-campbell-40367.jpg');" >
                <div class="container-carousel-1">
                  <div class="area_carousel_text float-right" >
                    <div class="carousel_text_1" >JOIN LIFE PLUS</div>
                    <div class="carousel_text_2" >START ENJOY THE BENEFIT</div>
                    <div class="carousel_text_3 float-right" >EARN POINTS AND REWARDS JUST BY LIVING HEALTHIER !</div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="float-right"><a href="" class="btn join-button">JOIN NOW</a></div>
                </div>
              </div>
              <div class="carousel-item carousel_image" style="background-image: url('_scs_theme_root_/assets/images/krista-mcphee-339999.jpg');" >
                <div class="container-carousel-1">
                  <div class="area_carousel_text float-right" >
                    <div class="carousel_text_1" >Have you got your<br />Honey today ?</div>
                    <div class="carousel_text_2" >Healthy Life Start with Healthy Food</div>
                    <div class="carousel_text_2 float-right" >Check our many selection of Honey on our e-shop</div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="float-right"><a href="" class="btn join-button">Go to E-shop</a></div>
                </div>
              </div> -->
            </div>
            <div id="curve_header" style="background-image: url('_scs_theme_root_/assets/images/curve corner hero.svg');"></div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>

          </div>
        </div>
      </div>
    </div>

    <!-- Explainer -->
    <!-- <div class="explainer scs-responsive" id="explainer" >
      <div class="container custom-container-explainer" >
        <div class="row justify-content-center scs-slot" id="container_explainer" style="background-image: url('_scs_theme_root_/assets/images/explainer-section@3x.png');background-size: 1440px;">
          <div class="col-sm-11 col-lg-7" id="frame_explainer" style="background-image: url('_scs_theme_root_/assets/images/explainer-animated-base.png');">
            <img src="_scs_theme_root_/assets/images/lifeplus-logo-top.png" class="explainer-content explainer-logo-lp">
            <img src="_scs_theme_root_/assets/images/explainer_arrow.svg" class="explainer-content explainer-arrow" >
            <img src="_scs_theme_root_/assets/images/coin@2x.png" class="explainer-content explainer-coin-1">
            <img src="_scs_theme_root_/assets/images/coin@2x.png" class="explainer-content explainer-coin-2">
            <img src="_scs_theme_root_/assets/images/gift-icon@2x.png" class="explainer-content explainer-gift-box" >
            <img src="_scs_theme_root_/assets/images/circle@2x.png" class="explainer-content explainer-people" >

            <p class="explainer-content explainer-text-complete">
              COMPLETE<br />
              MONTHLY OBJECTIVES AND<br />
              EARN POINTS BY :
            </p>
            <p class="explainer-content explainer-text-reward">
              REWARD YOURSELF<br />
              WITH POINTS :
            </p>

            <div class="explainer-content explainer-text-connecting">
              <h3 class="explainer-connection-header">CONNECTING</h3>
              <ul class="explainer-connection-detail">
                <li>COMPLETE HEALTH SURVEY</li>
                <li>ATTEND EVENTS & WORKSHOPS</li>
                <li>SHARE YOUR STORIES</li>
                <li>COMPLETE FOR MONTHLY LEADERBOARD</li>
              </ul>
            </div>
            <div class="explainer-content explainer-text-engaging">
              <h3 class="explainer-engaging-header">ENGAGING</h3>
              <ul class="explainer-engaging-detail">
                <li>LEARN THROUGH</li>
                <li>E-COACHING</li>
                <li>E-LEARNING</li>
              </ul>
            </div>
            <div class="explainer-content explainer-text-gift">
              <h3 class="explainer-gift-header">GIFT</h3>
              <ul class="explainer-gift-detail">
                <li>USE YOUR POINTS</li>
                <li>TO REDEEM GIFTS</li>
                <li>ON OUR E-SHOP</li>
              </ul>
            </div>
            <div class="explainer-content explainer-text-health-plus">
              <h3 class="explainer-health-header">HEALTH PLUS</h3>
              <ul class="explainer-health-detail">
                <li>GAIN COMMUNITY</li>
                <li>AND PROFESSIONAL</li>
                <li>SUPPORT IN</li>
                <li>MAINTAINING A</li>
                <li>HEALTHY LIFESTYLE</li>
              </ul>
            </div>

            <p class="explainer-content explainer-text-point-conversion">
              <img src="_scs_theme_root_/assets/images/point-conversion.svg" class="img-point-conversion" >
            </p>

            <p class="explainer-content explainer-text-top-right">NEXT MONTH</p>
            <p class="explainer-content explainer-text-bottom-left">LAST MONTH</p>
            <p class="explainer-content explainer-text-bottom-right">JOIN NOW</p>

          </div>
        </div>
      </div>
    </div> -->

    <!-- Subscribe Area -->
    <div class="scs-responsive" id="subscribeArea" >
      <div class="container custom-container-subscribe" >
        <div class="scs-slot" id="subscribe-text" ></div>
        <div class="scs-slot" id="subscribe-component" ></div>
      </div>
    </div>
    <!-- Subscribe Area -->

    <!-- Categories Post Area -->
    <div class="scs-responsive" id="categoriesPostArea" style="background-image: url('_scs_theme_root_/assets/images/cat-page-deco.svg');" >
      <div class="container custom-container-categories" >
        <div class="scs-slot" id="title-categories-post" ></div>
        <div class="scs-slot" id="categories-post" ></div>
        <div class="scs-slot" id="title-the-latest-news-and-events"></div>
        <div class="scs-slot" id="post-latest-news-and-events" ></div>
      </div>
    </div>
    <!-- Categories Post Area -->

    <!-- Join Life Plus Banner -->

    <div class="scs-responsive" id="lifeplus-join-banner-area" >
      <div class="scs-slot" id="lifeplus-button-join" ></div>
    </div>

    <!-- Join Life Plus Banner -->
    
    <div class="scs-responsive" >
      <div class="scs-slot" id="ecoach-section" ></div>
    </div>

    <div class="scs-slot" id="watching-banner" ></div>
    <div class="scs-responsive" id="video-area" >
      <div class="scs-slot" id="video-title" ></div>
      <div class="scs-slot" id="list-video" ></div>
    </div>

    <!-- Health Blog -->
    <!-- <div class="health-blog scs-responsive" id="healthBlog" >
      <div class="container custom-container-healthblog">
        <div class="row justify-content-center health-blog-section" >
          <h1 class="text-center title-section" >Health Blog<img width="100px" class="health-blog-icon" src="_scs_theme_root_/assets/images/icons/health_blog_icon_white.svg" ></h1>
          <div class="col-sm-9 col-md-9 col-lg-8 justify-content-center" >
            <div class="row" >
              <div class="col-lg-12 col-md-12" style="max-width: 980px;margin-left: 6px;" >
                <div class="row scs-slot" id="postHealthBlog" >

                </div>
              </div>
            </div>
            <div class="row" style="margin-top: 50px;" >
              <div class="col-lg-4 offset-lg-4 offset-md-3 offset-1" id="btn-find-outmore" >
                <a href="" class="btn btn-find-outmore" > Find out More <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- <div class="forum" >
      <div class="container custom-container-healthblog" >
        <div class="row justify-content-center forum-section" >
          <h1 class="forum-title text-center title-section" >Forum <img width="100px" src="_scs_theme_root_/assets/images/icons/forum_icon_white.svg" ></h1>
          <div class="row area-forum"  >
            <div class="col-lg-12 forum-column" >
              <h3 class="forum-header d-sm-none" >Forum</h3>
              <img class="forum-icon d-sm-none" src="_scs_theme_root_/assets/images/forum-icon-white.png">
              <div class="clearfix" ></div>
              <hr class="d-sm-none forum-hr" >
              <div class="row" style="padding:10px;" >
                <div class="col-lg-12" >
                  <p class="text-left forum-title-latest">Latest Discussion</p>
                  <p class="text-right forum-unread-thread" >23 Unread threads</p>
                </div>
                <div class="col-lg-6 thread-component" >
                  <div class="row thread-box" >
                    <div class="col-sm-3 col-lg-3 area-thread-starter" >
                      <img class="rounded-circle thread-profile-picture-ts" src="http://via.placeholder.com/53x53"  >
                      <p class="thread-starter" >Dave M</p>
                    </div>
                    <div class="col-sm-9 col-lg-9 area-content-thread" >
                      <div class="row" >
                        <div class="col-lg-12" >
                          <h4 class="thread-title" >Polling result for next event</h4>
                        </div>
                        <div class="col-lg-12" >
                          <p class="thread-body" >Here’s the latest polling result for next event venue …</p>
                        </div>
                        <div class="col-lg-12" >
                          <p class="text-left thread-category" >on Events</p>
                          <p class="text-right thread-time" >2 Hr ago</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6 thread-component" >
                  <div class="row thread-box" >
                    <div class="col-sm-3 col-lg-3 area-thread-starter" >
                      <img class="rounded-circle thread-profile-picture-ts" src="http://via.placeholder.com/53x53"  >
                      <p class="thread-starter" >Dave M</p>
                    </div>
                    <div class="col-sm-9 col-lg-9 area-content-thread" >
                      <div class="row" >
                        <div class="col-lg-12" >
                          <h4 class="thread-title" >Diabetes Webinar Schedule</h4>
                        </div>
                        <div class="col-lg-12" >
                          <p class="thread-body" >Here’s the latest polling result for next event venue …</p>
                        </div>
                        <div class="col-lg-12" >
                          <p class="text-left thread-category" >on e-Coach</p>
                          <p class="text-right thread-time" >2 Hr ago</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6 thread-component" >
                  <div class="row thread-box" >
                    <div class="col-sm-3 col-lg-3 area-thread-starter" >
                      <img class="rounded-circle thread-profile-picture-ts" src="http://via.placeholder.com/53x53"  >
                      <p class="thread-starter" >Dave M</p>
                    </div>
                    <div class="col-sm-9 col-lg-9 area-content-thread" >
                      <div class="row" >
                        <div class="col-lg-12" >
                          <h4 class="thread-title" >Congratulation to Peter Ch</h4>
                        </div>
                        <div class="col-lg-12" >
                          <p class="thread-body" >Here’s the latest polling result for next event venue …</p>
                        </div>
                        <div class="col-lg-12" >
                          <p class="text-left thread-category" >on LifePlus Member</p>
                          <p class="text-right thread-time" >2 Hr ago</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6 thread-component" >
                  <div class="row thread-box" >
                    <div class="col-sm-3 col-lg-3 area-thread-starter" >
                      <img class="rounded-circle thread-profile-picture-ts" src="http://via.placeholder.com/53x53"  >
                      <p class="thread-starter" >Dave M</p>
                    </div>
                    <div class="col-sm-9 col-lg-9 area-content-thread" >
                      <div class="row" >
                        <div class="col-lg-12" >
                          <h4 class="thread-title" >How to redeem my points ?</h4>
                        </div>
                        <div class="col-lg-12" >
                          <p class="thread-body" >Here’s the latest polling result for next event venue …</p>
                        </div>
                        <div class="col-lg-12" >
                          <p class="text-left thread-category" >on eShop</p>
                          <p class="text-right thread-time" >2 Hr ago</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- e-shop -->
    <div class="e-shop scs-slot scs-responsive" id="eShop" >
      <div class="container custom-container-ecommerce" style="padding-left: 0px;padding-right: 0px;" >
        <h1 class="text-center title-section" >REWARDS<img width="100px" class="health-blog-icon" src="_scs_theme_root_/assets/images/icons/rewards_icon.svg" ></h1>
        <div class="row justify-content-center" id="coin_bg" style="background-image: url('_scs_theme_root_/assets/images/coins-rain.png');margin-right: 0px;margin-left: 0px;" >
          <div class="col-8" id="layer_redeem_point" >
            <h1 class="text-center" id="redeem_point" >REDEEM YOUR POINTS</h1>
            <h2 class="text-center" id="sub_redeem_point" >with a selection of products catered just for you!</h2>
          </div>
        </div>
      </div>
      <div class="container custom-container-listecommerce" style="padding-left: 0px;padding-right: 0px;" >
        <div class="row justify-content-center" id="eshop_background" style="background-image: url('_scs_theme_root_/assets/images/locate-items.jpg');margin-right: 0px;margin-left: 0px;/*-webkit-filter: blur(8.4px);filter: blur(8.4px);*/" >
          <!-- sesction E-Shop -->
          <div class="col-sm-8 col-md-8 col-lg-8 bg-e-shop" >
            <div class="center-item" style="max-height: 360px;" >

              <div class="col-3 shop-item" >
                <div class="row" >
                  <div class="col-lg-12 shop-detail" >
                    <div class="row" >
                      <div class="col-lg-12" >
                        <img style="margin: 0px auto;" src="http://via.placeholder.com/130x128">
                        <p class="text-center" >Smile Refreshing Facial Wash</p>
                        <p class="text-center" >with Multi Vitamins</p>
                      </div>
                      <div class="col-lg-12 text-center" >
                        <p>100 pts</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-3 shop-item" >
                <div class="row" >
                  <div class="col-lg-12 shop-detail" >
                    <div class="row" >
                      <div class="col-lg-12" >
                        <img style="margin: 0px auto;" src="http://via.placeholder.com/130x128">
                        <p class="text-center" >Milford Clover Honey</p>
                        <p class="text-center" >500g</p>
                      </div>
                      <div class="col-lg-12 text-center" >
                        <p>100 pts</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-3 shop-item" >
                <div class="row" >
                  <div class="col-lg-12 shop-detail" >
                    <div class="row" >
                      <div class="col-lg-12" >
                        <img style="margin: 0px auto;" src="http://via.placeholder.com/130x128">
                        <p class="text-center" >Ukon Fine ! Syrup</p>
                        <p class="text-center" >Hangover Prevention Drink</p>
                      </div>
                      <div class="col-lg-12 text-center" >
                        <p>100 pts</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-3 shop-item" >
                <div class="row" >
                  <div class="col-lg-12 shop-detail" >
                    <div class="row" >
                      <div class="col-lg-12" >
                        <img style="margin: 0px auto;" src="http://via.placeholder.com/130x128">
                        <p class="text-center" >Milford Clover Honey</p>
                        <p class="text-center" >500g</p>
                      </div>
                      <div class="col-lg-12 text-center" >
                        <p>100 pts</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-3 shop-item" >
                <div class="row" >
                  <div class="col-lg-12 shop-detail" >
                    <div class="row" >
                      <div class="col-lg-12" >
                        <img style="margin: 0px auto;" src="http://via.placeholder.com/130x128">
                        <p class="text-center" >Ukon Fine ! Syrup</p>
                        <p class="text-center" >Hangover Prevention Drink</p>
                      </div>
                      <div class="col-lg-12 text-center" >
                        <p>100 pts</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-lg-12" >
              <div class="row justify-content-center" >
                <div class="col-lg-3" >
                  <a href="" class="btn" style="margin:0px auto;width:100%;border-radius: 3.2px;background-color: #c2d62f;box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.25);" > SELECT </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Add the footer into this layout page -->
    <includeHTML urlPrefix="_scs_theme_root_" includeFile="/assets/html/footer.html"></includeHTML>

  </div>


    <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
      <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
      <script src="_scs_theme_root_/assets/js/bootstrap.min.js"></script>
      <script src="_scs_theme_root_/assets/js/bootstrap.bundle.min.js"></script>
      <script src="_scs_theme_root_/assets/slick-1.8.0/slick/slick.min.js"></script>
      <script type="text/javascript" src="_scs_theme_root_/assets/js/includeHTML.js"></script>

      <script data-main="/_sitescloud/renderer/renderer.js" src="/_sitescloud/renderer/require.js"></script>
      <script type="text/javascript" src="_scs_theme_root_/assets/js/home.js" ></script>

      <!--$SCS_PAGE_FOOTER-->
      <!--$SCS_SITE_FOOTER-->

    </body>
    </html>